#brandname {
  width: 250px; }

body {
  padding-top: 50px; }

.navbar {
  margin-bottom: 2em; }

#mainnav {
  /*height: 50px;*/
  margin-left: calc(100vw - 250px); }

#app {
  margin-top: 1em; }

select {
  width: calc(100% - 4em); }

#map-canvas {
  height: calc(100vh - 50px);
  width: 100%; }

.day li {
  display: none;
}

.day.current {
  color: fuchsia;
}

.day.current li {
  display: list-item;
}